@media only screen and (max-width: 1075px) {

    nav ul li{
    font-size: 12px;
    padding: 1.5% 3%;
    }
    .news .title{
    font-size: 13px;
    margin: 13px 0px;
    }
    p{
    font-size: 75%;
    }
}
@media only screen and (max-width: 790px) {
    header{
    margin-bottom: 1em;
    }
    header .logo{
    max-width: 30%;
    margin-right: 10%;
    }
    nav ul li{
    font-size: 8px;
    padding: 1.5%;
    }
    .banner{
    width: 100%;
    height: auto;
    }

    .news .title{
    font-size: 10px;
    margin: 10px 0px;
    }
    .items .item p{
    font-size: 50%;
    }
    .contact *{
    font-size: 50%;
    }
    .copyright p{
    font-size: 50%;
    }
    footer{
    margin-top: 5px;
    padding: 0.5em;
    }
}
@media only screen and (max-width: 550px) {
    header .logo{
    max-width: 25%;
    }
    nav ul li{
    font-size: 6px;
    padding: 1%;
    }
    .news .title{
    font-size: 7px;
    margin: 5px 0px;
    }
    .items .item p{
    font-size: 50%;
    }
    .contact *{
    font-size: 40%;
    }
    .copyright p{
    font-size: 40%;
    }
    footer{
    margin-top: 3px;
    padding: 0.5em;
    }
}